@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  box-sizing: border-box;
  /* color: #436af1; */
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  /* background-color: #1f3481; */
}

form {
  display: inline;
}

.reset {
  margin-top: 1.5rem;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.centered {
  text-align: center;
}

.main-header {
  width: 100%;
  height: 3rem;
  background-color: #436af1;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

/* ul */
.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* li */
.main-header__item {
  margin: 0 1rem;
}

.main-header__item a,
.main-header__item button {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.main-header__item a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #e5e9f6;
  transition: width 0.3s;
}

.main-header__item a:hover::after {
  width: 100%;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
  color: #1f3481;
  font-weight: 600;
}

.mobile-nav {
  width: 18rem;
  height: 100vh;
  max-width: 70%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgb(229 233 246);
  z-index: 10;
  padding: 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  display: none;
}

.mobile-nav.open {
  transform: translateX(0);
  display: block;
}

.mobile-nav__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1.5rem 1rem;
  text-align: center;
}

.mobile-nav__item:first-of-type {
  margin-top: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
  font: inherit;
  text-decoration: none;
  /* color: #436af1; */
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active,
.mobile-nav__item button:hover,
.mobile-nav__item button:active {
  background: #436af1;
  color: #fff;
  border-radius: 5px;
}

#side-menu-toggle {
  border: 1px solid #fff;
  font: inherit;
  padding: 0.4rem;
  display: block;
  background: transparent;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #e5e9f6;
  border-color: #e5e9f6;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

li:last-of-type {
  margin-bottom: 0;
}

main {
  margin: 1.5rem auto;
}

/* Smartphones */
@media (max-width: 767px) {
  .main-header {
    padding: 2rem 1rem 2rem 0.7rem;
  }

  main {
    margin-top: 0.75rem;
  }
  p {
    font-size: 00.8rem;
    padding: 20px;
  }
}

/* Tablets and larger devices */
@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}

/* Larger computer screens */
/* @media screen and (min-width: 1600px) {
} */
